<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'clients.edit' this}} <button {{action 'destroyRecord' this}}>Destroy</button></p>

<ul>
  <li class='client-first-name'>First Name: {{firstName}}</li>
  <li class='client-last-name'>Last Name: {{lastName}}</li>
</ul>
